<p>L'Assomption de Marie est l'événement au cours duquel la Vierge Marie, Mère de Jésus, au terme de sa vie terrestre, serait entrée directement dans la gloire du ciel, âme et corps, sans connaître la corruption physique qui suit la mort.</p>

<p>L’Assomption de la Bienheureuse Vierge-Marie est une fête liturgique qui, dans l’Église catholique, se célèbre le 15 août.</p>

<div class="fs10 pull-right clearfix"><a href="http://creativecommons.org/licenses/by-sa/3.0/deed.fr">Contenu soumis à la licence CC-BY-SA</a>. Source : Article <em><a href="http://fr.wikipedia.org/wiki/Assomption_de_Marie">Assomption de Marie</a></em> de <a href="http://fr.wikipedia.org/">Wikipédia en français</a> (<a href="http://fr.wikipedia.org/w/index.php?title=Assomption_de_Marie&action=history">auteurs</a>)</div>
