<p>La Chandeleur (Fête des chandelles) est une fête populaire d'origine païenne liée à la lumière. Elle correspond aussi à une fête religieuse chrétienne autrement appelée la Présentation du Christ au Temple.</p>

<p>Elle est actuellement fixée au 2 février, soit 39 jours après Noël.</p>

<p>Aujourd’hui, on connaît surtout la Chandeleur en tant que jour des crêpes. On raconte que c’est ce même pape Gélase Ier qui faisait distribuer des crêpes aux pèlerins qui arrivaient à Rome.</p>

<div class="fs10 pull-right clearfix"><a href="http://creativecommons.org/licenses/by-sa/3.0/deed.fr">Contenu soumis à la licence CC-BY-SA</a>. Source : Article <em><a href="http://fr.wikipedia.org/wiki/Chandeleur">Chandeleur</a></em> de <a href="http://fr.wikipedia.org/">Wikipédia en français</a> (<a href="http://fr.wikipedia.org/w/index.php?title=Chandeleur&action=history">auteurs</a>)</div>
