<p>L'Épiphanie est une fête chrétienne qui célèbre le Messie venu et incarné dans le monde et recevant la visite et l'hommage des rois mages. Elle a lieu le 6 janvier. En France et en Belgique, puisque ce jour n'est pas férié, elle est célébrée le premier dimanche de janvier sauf si celui-ci est le 1er janvier.</p>

<p>La fête s'appelle aussi « Théophanie », qui signifie également la « manifestation de Dieu ».</p>

<p>Ce jour là, on mange aussi la galette des rois, un gateau contenant une fêve qui rendrait "roi" quiconque la trouverait dans sa part de galette.</p>

<div class="fs10 pull-right clearfix"><a href="http://creativecommons.org/licenses/by-sa/3.0/deed.fr">Contenu soumis à la licence CC-BY-SA</a>. Source : Article <em><a href="http://fr.wikipedia.org/wiki/%C3%89piphanie">Épiphanie</a></em> de <a href="http://fr.wikipedia.org/">Wikipédia en français</a> (<a href="http://fr.wikipedia.org/w/index.php?title=%C3%89piphanie&action=history">auteurs</a>)</div>
