<p>La date du jour de la Fête de la Communauté culturelle française de Belgique est le 27 septembre.</p>

<p>Cette date a été choisie par le Conseil Culturel de la Communauté Culturelle française de Belgique, sur proposition de monsieur Massart et consorts, et cela ne s'appelait pas encore Communauté française d'après une page de l'histoire de l'indépendance de la Belgique.</p>

<div class="fs10 pull-right clearfix"><a href="http://creativecommons.org/licenses/by-sa/3.0/deed.fr">Contenu soumis à la licence CC-BY-SA</a>. Source : Article <em><a href="http://fr.wikipedia.org/wiki/F%C3%AAte_de_la_Communaut%C3%A9_fran%C3%A7aise_de_Belgique">Fête de la Communauté française de Belgique</a></em> de <a href="http://fr.wikipedia.org/">Wikipédia en français</a> (<a href="http://fr.wikipedia.org/w/index.php?title=F%C3%AAte_de_la_Communaut%C3%A9_fran%C3%A7aise_de_Belgique&action=history">auteurs</a>)</div>
