<p>La fête des grands-mères est une fête annuelle célébrée principalement en France en l'honneur des grands-mères. En Belgique, on fête les grands-parents le même jour.</p>

<p>La fête des grands-mères a été créée en 1987 par la marque de café, le Café Grand'Mère, du groupe Kraft Jacobs Suchard ; elle est donc d'origine commerciale.</p>

<p>Depuis, en France, le premier dimanche de mars, les aïeules sont fêtées. Au cours des ans, cette fête a pris de plus en plus de popularité, et a fait l'objet dans les années qui ont suivi son lancement l'objet d'ateliers / concours dans les écoles. Les campagnes promotionnelles sont toujours d'actualité et la fête est évoquée dans la presse. Elle est, dès lors, mentionnée dans certains calendriers français.</p>

<div class="fs10 pull-right clearfix"><a href="http://creativecommons.org/licenses/by-sa/3.0/deed.fr">Contenu soumis à la licence CC-BY-SA</a>. Source : Article <em><a href="http://fr.wikipedia.org/wiki/F%C3%AAte_des_grands-m%C3%A8res">Fête des grands-mères</a></em> de <a href="http://fr.wikipedia.org/">Wikipédia en français</a> (<a href="http://fr.wikipedia.org/w/index.php?title=F%C3%AAte_des_grands-m%C3%A8res&action=history">auteurs</a>)</div>
