<p>La fête des mères est une fête annuelle célébrée par les enfants en l'honneur de leur mère dans de nombreux pays.</p>

<p>À cette occasion, les enfants offrent des cadeaux à leur mère, des gâteaux ou des objets qu'ils ont confectionnés à l'école. Cette fête est également célébrée par les adultes de tous âges pour honorer leur mère.</p>

<div class="fs10 pull-right clearfix"><a href="http://creativecommons.org/licenses/by-sa/3.0/deed.fr">Contenu soumis à la licence CC-BY-SA</a>. Source : Article <em><a href="http://fr.wikipedia.org/wiki/F%C3%AAte_des_m%C3%A8res">Fête des mères</a></em> de <a href="http://fr.wikipedia.org/">Wikipédia en français</a> (<a href="http://fr.wikipedia.org/w/index.php?title=F%C3%AAte_des_m%C3%A8res&action=history">auteurs</a>)</div>
