<p>La Fête nationale belge (Belgische nationale feestdag, en néerlandais, Belgischer Nationalfeiertag, en allemand), est célébrée le 21 juillet, depuis une loi du 27 mai 1890. </p>

<p>Cette journée commémore le serment prêté, le 21 juillet 1831 par Léopold de Saxe-Cobourg, premier roi des Belges, de rester fidèle à la Constitution. Le serment du roi marquait le début d'une Belgique indépendante, sous le régime d'une monarchie constitutionnelle et parlementaire.</p>

<div class="fs10 pull-right clearfix"><a href="http://creativecommons.org/licenses/by-sa/3.0/deed.fr">Contenu soumis à la licence CC-BY-SA</a>. Source : Article <em><a href="http://fr.wikipedia.org/wiki/F%C3%AAte_nationale_belge">Fête nationale belge</a></em> de <a href="http://fr.wikipedia.org/">Wikipédia en français</a> (<a href="http://fr.wikipedia.org/w/index.php?title=F%C3%AAte_nationale_belge&action=history">auteurs</a>)</div>
