<p>La fête des grands-pères est une fête annuelle célébrée en l'honneur des grands-pères, qui a lieu le premier dimanche du mois d'octobre.</p>

<p>En Belgique, on fête les grands-parents le même jour.</p>

<div class="fs10 pull-right clearfix"><a href="http://creativecommons.org/licenses/by-sa/3.0/deed.fr">Contenu soumis à la licence CC-BY-SA</a>. Source : Article <em><a href="http://fr.wikipedia.org/wiki/F%C3%AAte_des_grands-parents">Fête des grands-parents</a></em> de <a href="http://fr.wikipedia.org/">Wikipédia en français</a> (<a href="http://fr.wikipedia.org/w/index.php?title=F%C3%AAte_des_grands-parents&action=history">auteurs</a>)</div>
