<p>La date du jour de la Fête de la Communauté germanophone de Belgique est le 15 novembre.</p>

<p>Cette date a été arrêtée au même jour que la Fête du Roi, soit la Saint-Léopold, saint Patron du premier roi des Belges Léopold Ier.</p>

<div class="fs10 pull-right clearfix"><a href="http://creativecommons.org/licenses/by-sa/3.0/deed.fr">Contenu soumis à la licence CC-BY-SA</a>. Source : Article <em><a href="http://fr.wikipedia.org/wiki/F%C3%AAte_de_la_Communaut%C3%A9_germanophone_de_Belgique">Fête de la Communauté germanophone de Belgique</a></em> de <a href="http://fr.wikipedia.org/">Wikipédia en français</a> (<a href="http://fr.wikipedia.org/w/index.php?title=F%C3%AAte_de_la_Communaut%C3%A9_germanophone_de_Belgique&action=history">auteurs</a>)</div>
