<p>La fête des pères est une fête annuelle célébrée en l'honneur des pères dans de nombreux pays.</p>

<p>En France, c'est le fabricant de briquets Flaminaire qui eut l'idée, le premier, de créer une fête des pères, en permettant d'offrir un briquet à son papa pour cette occasion. La fête fut par la suite fixée par un décret de 1952 au troisième dimanche de juin ; ceci pour faire écho à la fête des Mères, officialisée en France en 1928 puis instaurée dans le calendrier sous Vichy en 1941.</p>

<div class="fs10 pull-right clearfix"><a href="http://creativecommons.org/licenses/by-sa/3.0/deed.fr">Contenu soumis à la licence CC-BY-SA</a>. Source : Article <em><a href="http://fr.wikipedia.org/wiki/F%C3%AAte_des_p%C3%A8res">Fête des pères</a></em> de <a href="http://fr.wikipedia.org/">Wikipédia en français</a> (<a href="http://fr.wikipedia.org/w/index.php?title=F%C3%AAte_des_p%C3%A8res&action=history">auteurs</a>)</div>
