<p>La fête nationale française (le « 14 Juillet ») est la fête nationale de la France.</p>

<p>Elle a été instituée par la loi en 1880, en référence à une double date, celle du 14 juillet 1789, date de la prise de la Bastille, jour symbolique entraînant la fin de la monarchie absolue, suivi de la fin de la société d'ordres et des privilèges, et celle du 14 juillet 1790, jour d'union nationale lors de la Fête de la Fédération.</p>

<div class="fs10 pull-right clearfix"><a href="http://creativecommons.org/licenses/by-sa/3.0/deed.fr">Contenu soumis à la licence CC-BY-SA</a>. Source : Article <em><a href="http://fr.wikipedia.org/wiki/F%C3%AAte_nationale_fran%C3%A7aise">Fête nationale française</a></em> de <a href="http://fr.wikipedia.org/">Wikipédia en français</a> (<a href="http://fr.wikipedia.org/w/index.php?title=F%C3%AAte_nationale_fran%C3%A7aise&action=history">auteurs</a>)</div>
