<p>L’Ascension est une fête chrétienne célébrée quarante jours après Pâques (en comptant le dimanche de Pâques). Elle tombe donc toujours un jeudi entre le 30 avril et le 3 juin inclus pour le calendrier grégorien.</p>

<p>Dans la tradition chrétienne, elle marque l’élévation au ciel de Jésus Christ après sa résurrection et la fin de sa présence sur Terre.</p>

<p>Le Jeudi de l’Ascension est jour férié dans plusieurs pays (dont la Belgique et la France).</p>

<div class="fs10 pull-right clearfix"><a href="http://creativecommons.org/licenses/by-sa/3.0/deed.fr">Contenu soumis à la licence CC-BY-SA</a>. Source : Article <em><a href="http://fr.wikipedia.org/wiki/Ascension_(f%C3%AAte)">Ascension (fête)</a></em> de <a href="http://fr.wikipedia.org/">Wikipédia en français</a> (<a href="http://fr.wikipedia.org/w/index.php?title=Ascension_(f%C3%AAte)&action=history">auteurs</a>)</div>
