<p>Le jour de l'An ou Nouvel An est le premier jour d'une année. Par extension le terme désigne aussi les célébrations de ce premier jour de l'année.</p>

<p>En Belgique, il est de tradition de faire la tournée de ses amis et familles afin de leur souhaiter la bonne année. Ceux-ci offrent en général, un verre d'alcool (goutte) ainsi qu'une assiette de galettes.</p>

<p>Les enfants prononcent des voeux (en poème ou non) devant leurs grands parents ou parents et en guise de remerciement, reçoivent une "dringuelle" (du flamand "drink geld") c'est-à-dire des étrennes.</p>

<div class="fs10 pull-right clearfix"><a href="http://creativecommons.org/licenses/by-sa/3.0/deed.fr">Contenu soumis à la licence CC-BY-SA</a>. Source : Article <em><a href="http://fr.wikipedia.org/wiki/Jour_de_l%27an">Jour de l'an</a></em> de <a href="http://fr.wikipedia.org/">Wikipédia en français</a> (<a href="http://fr.wikipedia.org/w/index.php?title=Jour_de_l%27an&action=history">auteurs</a>)</div>
