<p>Le lundi de Pâques est le lendemain du jour de Pâques, donc sa date est variable. La fête de Pâques se déroule, depuis les tout premiers siècles, pendant toute la semaine qui suit le dimanche de la Résurrection.</p>

<p>Cette semaine était fériée dans certains pays et à certaines époques. Actuellement, le lundi de Pâques est férié dans l’ensemble des pays d’Europe sauf en Russie, au Portugal et dans la plupart des régions d'Espagne.</p>

<div class="fs10 pull-right clearfix"><a href="http://creativecommons.org/licenses/by-sa/3.0/deed.fr">Contenu soumis à la licence CC-BY-SA</a>. Source : Article <em><a href="http://fr.wikipedia.org/wiki/Lundi_de_P%C3%A2ques">Lundi de Pâques</a></em> de <a href="http://fr.wikipedia.org/">Wikipédia en français</a> (<a href="http://fr.wikipedia.org/w/index.php?title=Lundi_de_P%C3%A2ques&action=history">auteurs</a>)</div>
