<p>La Pentecôte est une fête chrétienne commémorant la venue du Saint-Esprit cinquante jours après Pâques sur les apôtres de Jésus de Nazareth et les personnes présentes avec eux, rapportée dans les Actes des Apôtres.</p>

<p>La Pentecôte se célèbre le septième dimanche, soit le cinquantième jour à compter du dimanche de Pâques compris, à une date mobile calculée par le comput. Elle se poursuit le lendemain, dans certains pays, par un lundi férié ou chômé, dit « Lundi de Pentecôte ».</p>

<div class="fs10 pull-right clearfix"><a href="http://creativecommons.org/licenses/by-sa/3.0/deed.fr">Contenu soumis à la licence CC-BY-SA</a>. Source : Article <em><a href="http://fr.wikipedia.org/wiki/Pentec%C3%B4te">Pentecôte</a></em> de <a href="http://fr.wikipedia.org/">Wikipédia en français</a> (<a href="http://fr.wikipedia.org/w/index.php?title=Pentec%C3%B4te&action=history">auteurs</a>)</div>
