<p>Cécile de Rome, une des sainte Cécile, ou sainte Aziliz dans le calendrier breton des saints, est une sainte chrétienne. Elle aurait vécu à Rome, aux premiers temps du christianisme. Sa légende en fait une vierge qui, mariée de force, continua à respecter son vœu de virginité. On la fête le 22 novembre.</p>

<p>Sainte Cécile est la patronne des musiciens et des musiciennes ainsi que des brodeurs et brodeuses.</p>

<div class="fs10 pull-right clearfix"><a href="http://creativecommons.org/licenses/by-sa/3.0/deed.fr">Contenu soumis à la licence CC-BY-SA</a>. Source : Article <em><a href="http://fr.wikipedia.org/wiki/C%C3%A9cile_de_Rome">Cécile de Rome</a></em> de <a href="http://fr.wikipedia.org/">Wikipédia en français</a> (<a href="http://fr.wikipedia.org/w/index.php?title=C%C3%A9cile_de_Rome&action=history">auteurs</a>)</div>
